<html>

<head>
  <!-- AFTER HTML loads in browser, browser will request for CSS. -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <form action="/note" method="POST">
    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date"><br>
        <label for="habitat">Habitat:</label><br>
    <input type="text" id="habitat" name="habitat"><br>
    <label for="flock_size">Flock Size:</label><br>
    <input type="text" id="flock_size" name="flock_size"><br>
    <label for="appearance">Appearance:</label><br>
    <input type="text" id="appearance" name="appearance"><br>
    <label for="vocalisations">Vocalisations:</label><br>
    <input type="text" id="vocalisations" name="vocalisations"><br>
        <label for="Behaviour">Behaviour_ID:</label><br>
    <input type="text" id="Behaviour" name="Behaviour"><br>
        <label for="Species_ID">Species_ID:</label><br>
    <input type="text" id="Species_ID" name="Species_ID"><br>    
        <label for="user_idnum">User_IDNum:</label><br>
    <input type="text" id="user_idnum" name="user_idnum"><br>
    <input type="submit" value="Submit">
</body>

<footer>
  <p><a href="/">Return to main page</a></p>
</footer>

</html>